<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <etechflow_seoaudit>
            <general>
                <enabled>0</enabled>
                <title_min>20</title_min>
                <title_max>60</title_max>
                <description_min>70</description_min>
                <description_max>160</description_max>
                <thin_description>150</thin_description>
            </general>
            <fetch>
                <base_url></base_url>
                <basic_auth></basic_auth>
                <sample_size>25</sample_size>
            </fetch>
            <canonical>
                <enabled>1</enabled>
            </canonical>
            <indexability>
                <enabled>1</enabled>
            </indexability>
            <social>
                <enabled>1</enabled>
            </social>
            <schema>
                <enabled>1</enabled>
            </schema>
            <onpage>
                <enabled>1</enabled>
            </onpage>
        </etechflow_seoaudit>
    </default>
</config>
