<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="etechflow_seonav_generate_aliases" xsi:type="object">ETechFlow\SeoLayeredNav\Console\Command\GenerateAliases</item>
            </argument>
        </arguments>
    </type>

    <!-- Phase 2.5: feed indexable filter landing pages into the XML sitemap -->
    <type name="ETechFlow\SeoLayeredNav\Model\Sitemap\FilterPageItemProvider">
        <arguments>
            <!-- reuse the core category priority/changefreq config -->
            <argument name="configReader" xsi:type="object">Magento\Sitemap\Model\ItemProvider\CategoryConfigReader</argument>
        </arguments>
    </type>
    <type name="Magento\Sitemap\Model\ItemProvider\Composite">
        <arguments>
            <argument name="itemProviders" xsi:type="array">
                <item name="etechflowFilterPagesProvider" xsi:type="object">ETechFlow\SeoLayeredNav\Model\Sitemap\FilterPageItemProvider</item>
            </argument>
        </arguments>
    </type>
</config>
